# Usa LF como final de linha para todos os arquivos de texto (padrão Unix)
* text=auto eol=lf

# Aplica Git LFS para arquivos CSV
*.csv filter=lfs diff=lfs merge=lfs -text

# (Opcional) Aplica LFS apenas para arquivos CSV dentro da pasta dataset
# dataset/*.csv filter=lfs diff=lfs merge=lfs -text
